# Python-related
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env
env.bak/
venv.bak/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.pytest_cache/

# Logs
*.log
logs/

# Production files
*.sock

# IDE/Editor files
.vscode/
.idea/
*.swp
*.swo
*~

# OS-specific files
.DS_Store
Thumbs.db 