/* app/components/whychoose.css */

body {
	background-color: black;
	color: white;
}

.numbered-title {
	position: relative;
	padding-left: 3rem; /* Creates space for the number */
	font-weight: 700;
	font-size: 1.125rem; /* ~18px (tailwind text-lg) */
	color: black;
}

.numbered-title::before {
	content: attr(data-number);
	position: absolute;
	left: 0;
	top: 0;
	color: black;
	font-weight: 600;
}
