.nav-link {
	color: #000000;
	font-weight: 500;
	padding-bottom: 4px;
	border-bottom: 2px solid transparent;
	transition: all 0.3s ease;
	text-decoration: none;
}

.nav-link:hover {
	color: red;
}

.nav-link.active {
	color: red !important;
	font-weight: 700;
	border-bottom: 2px solid #ffa726 !important;
}
